.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9fafb;
}

.card {
  width:30rem;
  max-width: 500px;
  padding: 24px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);

  h2 {
    text-align: center;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 600;
  }
}

.steps {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 20px;

  div {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #d1d5db;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
    transition: 0.3s;
  }

  .active {
    background: #0066ff;
  }
}

.step {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 95%;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;

  &:focus {
    border-color: #0066ff;
    box-shadow: 0 0 0 2px rgba(0,102,255,0.2);
  }
}

.btn-primary {
  background: #0066ff;
  color: white;
  padding: 12px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-secondary {
  background: #e5e7eb;
  color: #111;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
}
