<div class="page">
  <div class="container">

    <div class="heading">Sign In</div>

    <form class="form">
      <input class="input" type="email && string" placeholder="E-mail Or Username">
      <input class="input" type="password" placeholder="Password">
        <input class="input" type="text" placeholder="Admin Code">
      <div class="forgot-password">
        <a href="#">Forgot Password ?</a>
      </div>

      <button class="login-button">Sign In</button>
    </form>

    <div class="social-account-container">
      <span class="title">Or Sign in with</span>

      <div class="social-accounts">
        <div class="social-button">
          <!-- <img class="svg" src="googlelogo.svg"> -->
        </div>

        <div class="social-button">
          <!-- <img class="svg" src="applelogo.svg"> -->
        </div>

        <div class="social-button">
          <!-- <img class="png" src="xlogo.png"> -->
        </div>
      </div>
    </div>
    <br>
    <div class="register-text">
        Don't have an account?
        <a class="link" href="register/admin">Register Here</a>
    </div>
    
        <div class="agreement">
          <a href="#">Learn user licence agreement</a>
        </div>

  </div>
</div>
