/* Full-page center container */
.loader-container {
  width: 100%;
  height: calc(100vh - 150px); // adjust if navbar/footer height differs
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9ff; // optional, remove if not needed
}

/* Loader Style */
.loader {
  font-size: 2.5em;
  font-weight: 900;
  display: flex;
  gap: 0.25em;
}

/* Children */
.loader > * {
  color: black;
}

/* Animated span */
.loader span {
  display: inline-flex;
}

.loader span:nth-child(2) {
  letter-spacing: -1em;
  overflow: hidden;
  animation: reveal 1500ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}

/* Keyframes */
@keyframes reveal {
  0%,
  100% {
    opacity: 0.5;
    letter-spacing: -1em;
  }

  50% {
    opacity: 1;
    letter-spacing: 0em;
  }
}
