<div class="page">
  <div class="card">

    <div class="title">Reset Password</div>
    <div class="subtitle">Enter your new password below</div>

    <form [formGroup]="form" (submit)="submit()" *ngIf="!showSuccess">

      <div class="input-group">
        <label>New Password</label>
        <input type="password" formControlName="password" />
      </div>

      <div class="input-group">
        <label>Confirm Password</label>
        <input type="password" formControlName="confirm" />
      </div>

      <button type="submit" class="btn">Update Password</button>
    </form>

    <!-- SUCCESS -->
    <div class="success-box" *ngIf="showSuccess">
      <div class="checkmark"></div>
      <h3>Password Updated!</h3>
      <p>Redirecting to login...</p>
    </div>

  </div>
</div>
